.description, .description__quantity, .description__process, .description__more, .description:hover .description__more, .another__item {
  transition-timing-function: ease;
  transition-duration: 1s; }

.description:hover, .another__item:hover {
  box-shadow: 0px 1px 84px -27px #000;
  transform: scale(1.1, 1.1); }

.another__item--mobile, .another__item--game, .another__item--machine, .another__item--photo, .another__item--commerce, .another__item--promotion, .another__item--data, .another__item--java {
  background-position: 10px center;
  background-repeat: no-repeat; }

.nav__button, .slider__join, .reviews__button {
  transition-property: background-color;
  transition-timing-function: ease;
  transition-duration: 1s; }

.body {
  font-family: OpenSans, sans-serif;
  margin: 0; }

.page__top {
  background-image: url("../assets/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 37px;
  margin-bottom: 65px;
  height: 603px; }
  @media (min-width: 600px) and (max-width: 1199px) {
    .page__top {
      margin-bottom: 35px; } }
  @media (min-width: 320px) and (max-width: 599px) {
    .page__top {
      margin-bottom: 25px; } }

.header {
  width: 1000px;
  align-self: center; }
  @media (min-width: 600px) and (max-width: 1199px) {
    .header {
      width: 90vw; } }
  @media (min-width: 320px) and (max-width: 599px) {
    .header {
      width: 63vw;
      margin-bottom: 30px; } }
  .header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between; }

.nav {
  display: flex;
  align-items: center; }
  @media (min-width: 600px) and (max-width: 960px) {
    .nav {
      justify-content: space-around;
      margin: 0 auto;
      flex-wrap: wrap;
      height: 125px;
      width: 380px; } }
  @media (min-width: 320px) and (max-width: 599px) {
    .nav {
      flex-direction: column;
      justify-content: space-around;
      margin: 0 auto;
      height: 125px;
      width: 100%; } }
  .nav__links {
    display: flex;
    padding-left: 0; }
    @media (min-width: 320px) and (max-width: 599px) {
      .nav__links {
        flex-direction: column;
        align-items: center; } }
  .nav__point {
    list-style-type: none;
    margin-right: 40px; }
    @media (min-width: 320px) and (max-width: 599px) {
      .nav__point {
        margin-right: 0; } }
  .nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 16px; }
    .nav__link:hover {
      text-decoration: underline; }
  .nav__button {
    background-color: transparent;
    background-image: url("../assets/man-user.png");
    background-repeat: no-repeat;
    background-position: 22px center;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 123px;
    height: 37px;
    padding-right: 27px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;
    font-size: 16px; }
    .nav__button:hover {
      background-color: #046c7c; }

@media (min-width: 320px) and (max-width: 599px) {
  .logo__image {
    width: 80vw;
    max-width: 301px; } }

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 103px; }
  @media (min-width: 961px) and (max-width: 1199px) {
    .slider {
      margin-top: 5vw; } }
  @media (min-width: 320px) and (max-width: 960px) {
    .slider {
      margin-top: 0; } }
  .slider__slide {
    width: 1000px;
    align-self: center;
    display: flex;
    justify-content: center;
    position: relative; }
    @media (min-width: 320px) and (max-width: 1199px) {
      .slider__slide {
        width: 90vw; } }
  .slider__arrow {
    background-color: transparent;
    border: 0;
    width: 37px;
    height: 71px;
    position: absolute;
    cursor: pointer; }
    .slider__arrow--left {
      background-image: url("../assets/icon-arrow-left.png");
      background-repeat: no-repeat;
      background-size: contain;
      top: 123px;
      left: -75px; }
      @media (min-width: 961px) and (max-width: 1199px) {
        .slider__arrow--left {
          left: -15px; } }
      @media (min-width: 600px) and (max-width: 960px) {
        .slider__arrow--left {
          left: -15px; } }
      @media (min-width: 320px) and (max-width: 599px) {
        .slider__arrow--left {
          display: none; } }
    .slider__arrow--right {
      background-image: url("../assets/icon-arrow-right.png");
      background-repeat: no-repeat;
      background-size: contain;
      top: 123px;
      right: -75px; }
      @media (min-width: 961px) and (max-width: 1199px) {
        .slider__arrow--right {
          right: -15px; } }
      @media (min-width: 600px) and (max-width: 960px) {
        .slider__arrow--right {
          right: -1vw; } }
      @media (min-width: 320px) and (max-width: 599px) {
        .slider__arrow--right {
          display: none; } }
  .slider__text {
    background-image: url("../assets/icon-responsive.svg");
    background-repeat: no-repeat;
    background-position: 94px 31px;
    background-size: 108px;
    width: 700px;
    padding-left: 251px;
    padding-right: 80px;
    color: #ffffff; }
    @media (min-width: 600px) and (max-width: 960px) {
      .slider__text {
        background-size: 5rem;
        background-position: 11vw 1vw;
        padding-left: 26vw;
        padding-right: 9vw; } }
    @media (min-width: 320px) and (max-width: 599px) {
      .slider__text {
        background-size: 4rem;
        background-position: 3vw 1vw;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0; } }
  .slider__header {
    font-size: 52px;
    margin-top: 0;
    margin-bottom: 19px; }
    @media (min-width: 320px) and (max-width: 960px) {
      .slider__header {
        font-size: 2rem;
        margin-bottom: 10px; } }
    @media (min-width: 320px) and (max-width: 599px) {
      .slider__header {
        padding-left: 27vw; } }
  .slider__main {
    font-size: 28px;
    margin-bottom: 22px;
    margin-top: 0; }
    @media (min-width: 320px) and (max-width: 960px) {
      .slider__main {
        font-size: 1.3rem;
        margin-bottom: 10px; } }
  .slider__paragraph {
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.5;
    margin: 0; }
    @media (min-width: 320px) and (max-width: 960px) {
      .slider__paragraph {
        font-size: 1rem; } }
  .slider__join {
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 5px;
    margin-top: 29px;
    width: 230px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #ffffff; }
    .slider__join:hover {
      background-color: #046c7c; }
    @media (min-width: 320px) and (max-width: 599px) {
      .slider__join {
        margin: 26px auto 0; } }
  .slider__points {
    display: flex;
    justify-content: center;
    padding-right: 35px;
    margin-top: 92px; }
    @media (min-width: 961px) and (max-width: 1199px) {
      .slider__points {
        margin-top: 5vw; } }
    @media (min-width: 320px) and (max-width: 960px) {
      .slider__points {
        margin-top: 8vw; } }
  .slider__point {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 7px;
    transition-property: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 0.3s; }
    .slider__point:hover {
      transform: scale(1.2, 1.2);
      background-color: #ffffff;
      cursor: pointer; }

.slider__join,
.reviews__button {
  text-transform: uppercase; }

.button {
  cursor: pointer; }

.main {
  margin-bottom: 72px; }
  .main__subheader {
    color: #444444;
    font-size: 48px;
    text-align: center;
    font-weight: lighter; }

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.about {
  background-color: #fbfbfb;
  margin-bottom: 94px; }
  @media (min-width: 961px) and (max-width: 1199px) {
    .about {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 0; } }
  @media (min-width: 600px) and (max-width: 960px) {
    .about {
      width: 600px;
      margin: 0 auto; } }
  @media (min-width: 320px) and (max-width: 599px) {
    .about {
      flex-direction: column;
      margin-bottom: 50px; } }
  .about__separator {
    width: 2px;
    height: 132px;
    margin: 0 9px;
    background-color: #e4e4e4; }
    @media (min-width: 961px) and (max-width: 1199px) {
      .about__separator {
        margin: 0 1px; } }
    @media (min-width: 600px) and (max-width: 960px) {
      .about__separator:nth-child(4) {
        display: none; } }
    @media (min-width: 320px) and (max-width: 599px) {
      .about__separator {
        width: 132px;
        height: 2px;
        margin: 3px 0; } }

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 235px;
  height: 235px;
  border-radius: 10px;
  background-color: transparent;
  color: #444444;
  transition-property: transform, box-shadow, color, background-color; }
  .description__quantity {
    display: block;
    margin-top: 35px;
    margin-bottom: 0;
    font-size: 72px;
    font-weight: bolder;
    line-height: 1;
    transition-property: transform; }
  .description__process {
    display: block;
    margin-top: 7px;
    margin-bottom: -8px;
    font-size: 20px;
    text-transform: uppercase;
    transition-property: transform; }
  .description__more {
    display: block;
    width: 160px;
    height: 38px;
    border: none;
    border-radius: 2px;
    margin: 0 auto;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    opacity: 0;
    transition-property: opacity, background-color; }
  .description:hover {
    background-color: #ffffff;
    color: #39c2d7; }
    .description:hover .description__quantity {
      transform: translateY(-27px); }
    .description:hover .description__process {
      transform: translateY(-27px); }
    .description:hover .description__more {
      opacity: 1;
      transition-property: background-color;
      background-color: #39c2d7; }

.another {
  width: 1000px;
  margin: 0 auto 70px;
  padding-top: 11px; }
  @media (min-width: 320px) and (max-width: 1199px) {
    .another {
      width: 90vw; } }
  .another__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 135px;
    height: 120px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 0px;
    padding-left: 90px;
    cursor: pointer;
    transition-property: transform, box-shadow, color, background-color; }
    @media (min-width: 961px) and (max-width: 1199px) {
      .another__item {
        width: 17vw; } }
    @media (min-width: 320px) and (max-width: 960px) {
      .another__item {
        margin-right: 0; } }
    .another__item:hover {
      background-color: #ffffff; }
    .another__item:nth-child(4n) {
      margin-right: 0; }
    .another__item--mobile {
      background-image: url("../assets/mobile.png"); }
    .another__item--game {
      background-image: url("../assets/game.png"); }
    .another__item--machine {
      background-image: url("../assets/machine-and-java.png"); }
    .another__item--photo {
      background-image: url("../assets/photo.png"); }
    .another__item--commerce {
      background-image: url("../assets/commerce.png"); }
    .another__item--promotion {
      background-image: url("../assets/promotion.png"); }
    .another__item--data {
      background-image: url("../assets/data.png"); }
    .another__item--java {
      background-image: url("../assets/machine-and-java.png"); }
  .another__course {
    color: #39c2d7; }

.subscribe {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 244px;
  margin-bottom: 49px;
  padding: 47px 120px 0 135px;
  background-color: #39c2d7; }
  @media (min-width: 961px) and (max-width: 1199px) {
    .subscribe {
      padding: 47px 0 0 0; } }
  @media (min-width: 600px) and (max-width: 960px) {
    .subscribe {
      padding: 5vw; } }
  @media (min-width: 320px) and (max-width: 599px) {
    .subscribe {
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding: 3vw; } }
  .subscribe__description {
    width: 490px;
    color: #ffffff; }
    @media (min-width: 961px) and (max-width: 1199px) {
      .subscribe__description {
        width: 40vw; } }
    @media (min-width: 600px) and (max-width: 960px) {
      .subscribe__description {
        margin-right: 10px; } }
    @media (min-width: 320px) and (max-width: 599px) {
      .subscribe__description {
        width: 90vw; } }
  .subscribe__header {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0; }
    @media (min-width: 320px) and (max-width: 599px) {
      .subscribe__header {
        text-align: center; } }
  .subscribe__paragraph {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 9px; }
    @media (min-width: 600px) and (max-width: 960px) {
      .subscribe__paragraph {
        font-size: 0.8rem; } }
    @media (min-width: 320px) and (max-width: 599px) {
      .subscribe__paragraph {
        text-align: center; } }
  .subscribe__form {
    width: 490px;
    margin-top: 8px; }
    @media (min-width: 961px) and (max-width: 1199px) {
      .subscribe__form {
        width: 40vw; } }
    @media (min-width: 320px) and (max-width: 599px) {
      .subscribe__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw; } }

.form__item {
  position: relative;
  margin-bottom: 36px; }

.form__input {
  display: block;
  width: 450px;
  border: 1px solid #919191;
  padding: 10px;
  font-size: 16px; }
  @media (min-width: 600px) and (max-width: 1199px) {
    .form__input {
      width: 40vw; } }
  @media (min-width: 320px) and (max-width: 599px) {
    .form__input {
      display: flex;
      width: 83vw; } }
  .form__input:focus ~ .form__label {
    top: -15px;
    font-size: 14px; }
  .form__input:valid ~ .form__label {
    top: -15px;
    font-size: 14px; }

.form__label {
  position: absolute;
  left: 10px;
  top: 11px;
  color: #919191;
  font-size: 18px;
  pointer-events: none;
  transition: 0.3s ease all; }

.form__button {
  width: 159px;
  height: 40px;
  border: none;
  background-color: #046c7c;
  color: #ffffff;
  font-size: 15px; }

.reviews {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto; }
  @media (min-width: 320px) and (max-width: 1199px) {
    .reviews {
      flex-direction: column;
      flex-wrap: nowrap;
      width: 90vw; } }
  .reviews__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    margin-top: 27px;
    border: 3px solid #39c2d7;
    border-radius: 10px;
    background-color: transparent;
    color: #39c2d7; }
    .reviews__button:hover {
      background-color: #046c7c; }

.review {
  display: flex;
  align-items: flex-start;
  width: 430px;
  height: auto;
  min-height: 214px; }
  @media (min-width: 961px) and (max-width: 1199px) {
    .review {
      width: 700px; } }
  @media (min-width: 320px) and (max-width: 960px) {
    .review {
      width: 70vw;
      min-height: auto;
      margin-bottom: 25px; } }
  @media (min-width: 320px) and (max-width: 599px) {
    .review {
      flex-direction: column;
      align-items: center; } }
  .review:nth-child(1n) {
    margin-right: 57px; }
    @media (min-width: 320px) and (max-width: 1199px) {
      .review:nth-child(1n) {
        margin-right: 0; } }
  .review:nth-child(2n) {
    padding-left: 23px; }
    @media (min-width: 320px) and (max-width: 1199px) {
      .review:nth-child(2n) {
        padding-left: 0; } }
  .review__avatar {
    width: 130px;
    margin-right: 22px;
    border-radius: 50%;
    flex-shrink: 0; }
    @media (min-width: 320px) and (max-width: 599px) {
      .review__avatar {
        margin-right: 0;
        margin-bottom: 10px; } }
  @media (min-width: 320px) and (max-width: 599px) {
    .review__text {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .review__name {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 1; }
    @media (min-width: 320px) and (max-width: 599px) {
      .review__name {
        margin-bottom: 5px; } }
  .review__quote {
    margin-top: 5px;
    font-style: italic;
    font-size: 13px;
    line-height: 24px; }

.footer {
  display: flex;
  justify-content: space-evenly;
  height: 285px;
  padding: 41px 154px 0;
  background-color: #383838;
  color: #919191; }
  @media (min-width: 961px) and (max-width: 1199px) {
    .footer {
      padding: 41px 45px 0; } }
  @media (min-width: 320px) and (max-width: 960px) {
    .footer {
      flex-direction: column;
      align-items: center;
      height: auto;
      padding: 41px 0 0; } }
  .footer__info, .footer__courses {
    width: 490px; }
    @media (min-width: 600px) and (max-width: 960px) {
      .footer__info, .footer__courses {
        width: 65vw; } }
    @media (min-width: 320px) and (max-width: 599px) {
      .footer__info, .footer__courses {
        width: 80vw; } }
  .footer__copyright {
    margin-top: 18px;
    font-size: 12px; }
  .footer__text {
    padding-right: 60px;
    font-size: 11px;
    line-height: 1.7; }
    @media (min-width: 320px) and (max-width: 960px) {
      .footer__text {
        padding-right: 0; } }
  .footer__subheader {
    margin-top: 0; }
  .footer__point {
    list-style-type: none;
    margin-bottom: 17px; }
  .footer__links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: 75%;
    padding-left: 0; }
    @media (min-width: 600px) and (max-width: 960px) {
      .footer__links {
        width: 50vw;
        height: 40vw; } }
    @media (min-width: 320px) and (max-width: 599px) {
      .footer__links {
        width: 100%; } }
  .footer__link {
    text-decoration: none;
    color: #919191; }
    .footer__link:hover {
      text-decoration: underline; }
