%transition-timer {
  transition-timing-function: ease;
  transition-duration: 1s;
}

%transform-items {
  box-shadow: 0px 1px 84px -27px #000;
  transform: scale(1.1, 1.1);
}

%background-items-properties {
  background-position: 10px center;
  background-repeat: no-repeat;
}

%button-hover-properties {
  transition-property: background-color;
  transition-timing-function: ease;
  transition-duration: 1s;
}
