@import "./variables";
@import "./extends";

.body {
  font-family: OpenSans, sans-serif;
  margin: 0;
}

.page__top {
  background-image: url("../assets/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 37px;
  margin-bottom: 65px;
  height: 603px;

  @media (min-width: 600px) and (max-width: 1199px) {
    margin-bottom: 35px;
  }

  @media (min-width: 320px) and (max-width: 599px) {
    margin-bottom: 25px;
  }
}

.header {
  width: 1000px;
  align-self: center;

  @media (min-width: 600px) and (max-width: 1199px) {
    width: 90vw;
  }

  @media (min-width: 320px) and (max-width: 599px) {
    width: 63vw;
    margin-bottom: 30px;
  }

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.nav {
  display: flex;
  align-items: center;

  @media (min-width: 600px) and (max-width: 960px) {
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 125px;
    width: 380px;
  }

  @media (min-width: 320px) and (max-width: 599px) {
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    height: 125px;
    width: 100%;
  }

  &__links {
    display: flex;
    padding-left: 0;

    @media (min-width: 320px) and (max-width: 599px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__point {
    list-style-type: none;
    margin-right: 40px;

    @media (min-width: 320px) and (max-width: 599px) {
      margin-right: 0;
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__button {
    background-color: transparent;
    background-image: url("../assets/man-user.png");
    background-repeat: no-repeat;
    background-position: 22px center;
    border: 1px solid $white;
    border-radius: 5px;
    width: 123px;
    height: 37px;
    padding-right: 27px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $white;
    font-size: 16px;
    @extend %button-hover-properties;

    &:hover {
      background-color: #046c7c;
    }
  }
}

.logo__image {
  @media (min-width: 320px) and (max-width: 599px) {
    width: 80vw;
    max-width: 301px;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 103px;

  @media (min-width: 961px) and (max-width: 1199px) {
    margin-top: 5vw;
  }

  @media (min-width: 320px) and (max-width: 960px) {
    margin-top: 0;
  }

  &__slide {
    width: 1000px;
    align-self: center;
    display: flex;
    justify-content: center;
    position: relative;

    @media (min-width: 320px) and (max-width: 1199px) {
      width: 90vw;
    }
  }

  &__arrow {
    background-color: transparent;
    border: 0;
    width: 37px;
    height: 71px;
    position: absolute;
    cursor: pointer;

    &--left {
      background-image: url("../assets/icon-arrow-left.png");
      background-repeat: no-repeat;
      background-size: contain;
      top: 123px;
      left: -75px;

      @media (min-width: 961px) and (max-width: 1199px) {
        left: -15px;
      }

      @media (min-width: 600px) and (max-width: 960px) {
        left: -15px;
      }

      @media (min-width: 320px) and (max-width: 599px) {
        display: none;
      }
    }

    &--right {
      background-image: url("../assets/icon-arrow-right.png");
      background-repeat: no-repeat;
      background-size: contain;
      top: 123px;
      right: -75px;

      @media (min-width: 961px) and (max-width: 1199px) {
        right: -15px;
      }

      @media (min-width: 600px) and (max-width: 960px) {
        right: -1vw;
      }

      @media (min-width: 320px) and (max-width: 599px) {
        display: none;
      }
    }
  }

  &__text {
    background-image: url("../assets/icon-responsive.svg");
    background-repeat: no-repeat;
    background-position: 94px 31px;
    background-size: 108px;
    width: 700px;
    padding-left: 251px;
    padding-right: 80px;
    color: $white;

    @media (min-width: 600px) and (max-width: 960px) {
      background-size: 5rem;
      background-position: 11vw 1vw;
      padding-left: 26vw;
      padding-right: 9vw;
    }

    @media (min-width: 320px) and (max-width: 599px) {
      background-size: 4rem;
      background-position: 3vw 1vw;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
    }
  }

  &__header {
    font-size: 52px;
    margin-top: 0;
    margin-bottom: 19px;

    @media (min-width: 320px) and (max-width: 960px) {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    @media (min-width: 320px) and (max-width: 599px) {
      padding-left: 27vw;
    }
  }

  &__main {
    font-size: 28px;
    margin-bottom: 22px;
    margin-top: 0;

    @media (min-width: 320px) and (max-width: 960px) {
      font-size: 1.3rem;
      margin-bottom: 10px;
    }
  }

  &__paragraph {
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.5;
    margin: 0;

    @media (min-width: 320px) and (max-width: 960px) {
      font-size: 1rem;
    }
  }

  &__join {
    background-color: transparent;
    border: 3px solid $white;
    border-radius: 5px;
    margin-top: 29px;
    width: 230px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: $white;
    @extend %button-hover-properties;

    &:hover {
      background-color: #046c7c;
    }
    @media (min-width: 320px) and (max-width: 599px) {
      margin: 26px auto 0;
    }
  }

  &__points {
    display: flex;
    justify-content: center;
    padding-right: 35px;
    margin-top: 92px;

    @media (min-width: 961px) and (max-width: 1199px) {
      margin-top: 5vw;
    }

    @media (min-width: 320px) and (max-width: 960px) {
      margin-top: 8vw;
    }
  }

  &__point {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 7px;
    transition-property: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 0.3s;

    &:hover {
      transform: scale(1.2, 1.2);
      background-color: $white;
      cursor: pointer;
    }
  }
}

.slider__join,
.reviews__button {
  text-transform: uppercase;
}

.button {
  cursor: pointer;
}

.main {
  margin-bottom: 72px;

  &__subheader {
    color: $grey;
    font-size: 48px;
    text-align: center;
    font-weight: lighter;
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about {
  background-color: #fbfbfb;
  margin-bottom: 94px;

  @media (min-width: 961px) and (max-width: 1199px) {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0;
  }

  @media (min-width: 600px) and (max-width: 960px) {
    width: 600px;
    margin: 0 auto;
  }

  @media (min-width: 320px) and (max-width: 599px) {
    flex-direction: column;
    margin-bottom: 50px;
  }

  &__separator {
    width: 2px;
    height: 132px;
    margin: 0 9px;
    background-color: #e4e4e4;

    @media (min-width: 961px) and (max-width: 1199px) {
      margin: 0 1px;
    }

    @media (min-width: 600px) and (max-width: 960px) {
      &:nth-child(4) {
        display: none;
      }
    }

    @media (min-width: 320px) and (max-width: 599px) {
      width: 132px;
      height: 2px;
      margin: 3px 0;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 235px;
  height: 235px;
  border-radius: 10px;
  background-color: transparent;
  color: $grey;
  transition-property: transform, box-shadow, color, background-color;
  @extend %transition-timer;

  &__quantity {
    display: block;
    margin-top: 35px;
    margin-bottom: 0;
    font-size: 72px;
    font-weight: bolder;
    line-height: 1;
    transition-property: transform;
    @extend %transition-timer;
  }

  &__process {
    display: block;
    margin-top: 7px;
    margin-bottom: -8px;
    font-size: 20px;
    text-transform: uppercase;
    transition-property: transform;
    @extend %transition-timer;
  }

  &__more {
    display: block;
    width: 160px;
    height: 38px;
    border: none;
    border-radius: 2px;
    margin: 0 auto;
    background-color: transparent;
    color: $white;
    font-size: 16px;
    opacity: 0;
    transition-property: opacity, background-color;
    @extend %transition-timer;
  }

  &:hover {
    background-color: $white;
    color: $blue;
    @extend %transform-items;

    .description__quantity {
      transform: translateY(-27px);
    }

    .description__process {
      transform: translateY(-27px);
    }

    .description__more {
      opacity: 1;
      transition-property: background-color;
      background-color: $blue;
      @extend %transition-timer;
    }
  }
}

.another {
  width: 1000px;
  margin: 0 auto 70px;
  padding-top: 11px;

  @media (min-width: 320px) and (max-width: 1199px) {
    width: 90vw;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 135px;
    height: 120px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 0px;
    padding-left: 90px;
    cursor: pointer;
    transition-property: transform, box-shadow, color, background-color;

    @extend %transition-timer;

    @media (min-width: 961px) and (max-width: 1199px) {
      width: 17vw;
    }

    @media (min-width: 320px) and (max-width: 960px) {
      margin-right: 0;
    }

    &:hover {
      background-color: $white;
      @extend %transform-items;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &--mobile {
      background-image: url("../assets/mobile.png");
      @extend %background-items-properties;
    }

    &--game {
      background-image: url("../assets/game.png");
      @extend %background-items-properties;
    }

    &--machine {
      background-image: url("../assets/machine-and-java.png");
      @extend %background-items-properties;
    }

    &--photo {
      background-image: url("../assets/photo.png");
      @extend %background-items-properties;
    }

    &--commerce {
      background-image: url("../assets/commerce.png");
      @extend %background-items-properties;
    }

    &--promotion {
      background-image: url("../assets/promotion.png");
      @extend %background-items-properties;
    }

    &--data {
      background-image: url("../assets/data.png");
      @extend %background-items-properties;
    }

    &--java {
      background-image: url("../assets/machine-and-java.png");
      @extend %background-items-properties;
    }
  }

  &__course {
    color: $blue;
  }
}

.subscribe {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 244px;
  margin-bottom: 49px;
  padding: 47px 120px 0 135px;
  background-color: $blue;

  @media (min-width: 961px) and (max-width: 1199px) {
    padding: 47px 0 0 0;
  }

  @media (min-width: 600px) and (max-width: 960px) {
    padding: 5vw;
  }

  @media (min-width: 320px) and (max-width: 599px) {
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 3vw;
  }

  &__description {
    width: 490px;
    color: $white;

    @media (min-width: 961px) and (max-width: 1199px) {
      width: 40vw;
    }

    @media (min-width: 600px) and (max-width: 960px) {
      margin-right: 10px;
    }

    @media (min-width: 320px) and (max-width: 599px) {
      width: 90vw;
    }
  }

  &__header {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;

    @media (min-width: 320px) and (max-width: 599px) {
      text-align: center;
    }
  }

  &__paragraph {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 9px;

    @media (min-width: 600px) and (max-width: 960px) {
      font-size: 0.8rem;
    }

    @media (min-width: 320px) and (max-width: 599px) {
      text-align: center;
    }
  }

  &__form {
    width: 490px;
    margin-top: 8px;

    @media (min-width: 961px) and (max-width: 1199px) {
      width: 40vw;
    }

    @media (min-width: 320px) and (max-width: 599px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90vw;
    }
  }
}

.form {
  &__item {
    position: relative;
    margin-bottom: 36px;
  }

  &__input {
    display: block;
    width: 450px;
    border: 1px solid $lighter-grey;
    padding: 10px;
    font-size: 16px;

    @media (min-width: 600px) and (max-width: 1199px) {
      width: 40vw;
    }

    @media (min-width: 320px) and (max-width: 599px) {
      display: flex;
      width: 83vw;
    }

    &:focus ~ .form__label {
      top: -15px;
      font-size: 14px;
    }

    &:valid ~ .form__label {
      top: -15px;
      font-size: 14px;
    }
  }

  &__label {
    position: absolute;
    left: 10px;
    top: 11px;
    color: $lighter-grey;
    font-size: 18px;
    pointer-events: none;
    transition: 0.3s ease all;
  }

  &__button {
    width: 159px;
    height: 40px;
    border: none;
    background-color: #046c7c;
    color: $white;
    font-size: 15px;
  }
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;

  @media (min-width: 320px) and (max-width: 1199px) {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 90vw;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    margin-top: 27px;
    border: 3px solid $blue;
    border-radius: 10px;
    background-color: transparent;
    color: $blue;
    @extend %button-hover-properties;

    &:hover {
      background-color: #046c7c;
    }
  }
}

.review {
  display: flex;
  align-items: flex-start;
  width: 430px;
  height: auto;
  min-height: 214px;

  @media (min-width: 961px) and (max-width: 1199px) {
    width: 700px;
  }

  @media (min-width: 320px) and (max-width: 960px) {
    width: 70vw;
    min-height: auto;
    margin-bottom: 25px;
  }

  @media (min-width: 320px) and (max-width: 599px) {
    flex-direction: column;
    align-items: center;
  }

  &:nth-child(1n) {
    margin-right: 57px;

    @media (min-width: 320px) and (max-width: 1199px) {
      margin-right: 0;
    }
  }

  &:nth-child(2n) {
    padding-left: 23px;

    @media (min-width: 320px) and (max-width: 1199px) {
      padding-left: 0;
    }
  }

  &__avatar {
    width: 130px;
    margin-right: 22px;
    border-radius: 50%;
    flex-shrink: 0;

    @media (min-width: 320px) and (max-width: 599px) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__text {
    @media (min-width: 320px) and (max-width: 599px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__name {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;

    @media (min-width: 320px) and (max-width: 599px) {
      margin-bottom: 5px;
    }
  }

  &__quote {
    margin-top: 5px;
    font-style: italic;
    font-size: 13px;
    line-height: 24px;
  }
}

.footer {
  display: flex;
  justify-content: space-evenly;
  height: 285px;
  padding: 41px 154px 0;
  background-color: $dark-grey;
  color: $lighter-grey;

  @media (min-width: 961px) and (max-width: 1199px) {
    padding: 41px 45px 0;
  }

  @media (min-width: 320px) and (max-width: 960px) {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 41px 0 0;
  }

  &__info,
  &__courses {
    width: 490px;

    @media (min-width: 600px) and (max-width: 960px) {
      width: 65vw;
    }

    @media (min-width: 320px) and (max-width: 599px) {
      width: 80vw;
    }
  }

  &__copyright {
    margin-top: 18px;
    font-size: 12px;
  }

  &__text {
    padding-right: 60px;
    font-size: 11px;
    line-height: 1.7;

    @media (min-width: 320px) and (max-width: 960px) {
      padding-right: 0;
    }
  }

  &__subheader {
    margin-top: 0;
  }

  &__point {
    list-style-type: none;
    margin-bottom: 17px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: 75%;
    padding-left: 0;

    @media (min-width: 600px) and (max-width: 960px) {
      width: 50vw;
      height: 40vw;
    }

    @media (min-width: 320px) and (max-width: 599px) {
      width: 100%;
    }
  }

  &__link {
    text-decoration: none;
    color: $lighter-grey;

    &:hover {
      text-decoration: underline;
    }
  }
}
